* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.container {
  background-color: #111827;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.navbar{
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .navigation-link:hover {
  color: #fff;
  font-size: 16.5px;
}


.grassBlock {
  position: relative;
  animation: slide infinite ease-in-out 2s;
}


@keyframes slide{
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
